@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  position: relative;
  height: 100%;
  max-width: 100vw;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-family: "Fredoka One", cursive;
  overflow: hidden;
  background-color: #342e37;
  color: #fff;
}
.app::before {
  /* Why before element? - To separate image and container opacities */
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -999;
}
.authenticated-layout {
  height: 100%;
  width: 100%;
  padding: 1em;
  display: flex;
}
.sidebar {
  border: solid 2px #a2d729;
  position: fixed;
  width: 250px;
  height: 95vh;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: auto;
  width: calc(100% - 250px);
}

@media screen and (max-width: 700px) {
  .authenticated-layout {
    flex-direction: column !important;
    border: solid 2px red;
  }
  .sidebar {
    position: relative;
    width: 100% !important;
    margin-bottom: 2em;
    height: fit-content;
  }
  .main {
    width: 100%;
  }
}
